<ion-header>
  <ion-toolbar color="dark" class="header-transparent">
    <ion-title>
      <div class="title-container">
        <img src="assets/icon/logo.jpg" alt="Logo" class="logo" />
        <span>Superhéroes</span>
      </div>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="header-fixed">
    <ion-buttons slot="start">
      <ion-button (click)="funcionLogin()">Login</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="funcionCrearCuenta()">Crear Cuenta</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image"></ion-content>


<ion-footer>
  <ion-toolbar color="light" class="footer-fixed">
    <ion-title>D-Software © 2024</ion-title>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-toolbar color="light" class="footer-fixed">
    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-text color="medium">
        D-Software © 2024 Todos los derechos reservados.
      </ion-text>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
