<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/administrador">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let usuario of usuarios">
      <!-- Encabezado de la tarjeta -->
      <ion-card-header class="card-header-background">
        <ion-card-subtitle class="card-sub">Usuario:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-header class="card-header-background">
        <ion-card-subtitle class="card-sub">{{ usuario.email }}</ion-card-subtitle>
      </ion-card-header>

      <!-- Contenido con fondo sólido -->
      <ion-card-content>
        <div class="content-wrapper">
          <ion-thumbnail>
            <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Imagen de usuario" />
          </ion-thumbnail>
          <p>
            <strong>Nombre:</strong> {{ usuario.nombre }} {{ usuario.apellido }}
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
