.background-image {
  background-image: url('/assets/icon/Dc_comics.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}
